[data-file-tree] [data-folder-node] {
	color: var(--folder-color);
	border-color: transparent;
	background-color: var(--folder-background-color);

	&:hover {
		color: var(--folder-hover-color);
		background-color: var(--folder-hover-background-color);
	}
	&:focus {
		color: var(--folder-focus-color);
		border-color: var(--folder-focus-border-color);
		background-color: var(--folder-focus-background-color);
	}
	&[data-selected="true"]:not(:focus) {
		color: var(--folder-selected-color);
		background-color: var(--folder-selected-background-color);
	}
	&[data-folder-node][data-stuck="true"] {
		color: var(--stuck-color);
		border-color: transparent;
		background-color: var(--stuck-background-color);

		&::before {
			content: "";
			position: absolute;
			inset: -1px;
			background-color: var(--stuck-background-color);
			z-index: -1;
		}
		&:hover {
			color: var(--folder-hover-color);
		}
		&:hover::before {
			background-color: var(--folder-hover-background-color);
		}
	}
	&[data-fold="true"] {
		box-shadow: var(--folding-shadow);
	}
}

[data-file-tree] [data-file-node] {
	color: var(--file-color);
	border-color: transparent;
	background-color: var(--file-background-color);

	&:hover {
		color: var(--file-hover-color);
		background-color: var(--file-hover-background-color);
	}
	&:focus {
		color: var(--file-focus-color);
		border-color: var(--file-focus-border-color);
		background-color: var(--file-focus-background-color);
	}
	&[data-selected="true"]:not(:focus) {
		color: var(--file-selected-color);
		background-color: var(--file-selected-background-color);
	}
}
